* {
    margin:0,;
    padding:0;
    list-style: none;
}
#special {
    margin: 15rem 0 0 40rem;
}
#special h2 + p {
    height: 100vh;
    font-size: 2rem;
}
h1 {
    display: flex;
    margin-top: 4rem;
    margin-left: 20rem;
    font-size: 1.8rem;
    text-decoration: underline;
}

.h3 {
    margin: 4rem 0rem 3rem 45rem;
    display: flex;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 13rem;
    background-color: transparent;
    padding: 2rem 6rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 0 1rem gray;
    border-top-right-radius: 1rem;
    position: fixed;
}
nav h2 {
    font-size: 1.3rem;
    margin-left: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1rem;
    font-style: italic;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


nav ul li{
     margin-bottom: 0.5rem;
    }

nav ul li a{
    color: #373737;
    text-decoration: none;
    margin: 0.5rem;
    padding: 1rem;
    border: 0.0625rem solid transparent;
    border-radius: 1.25rem;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: 1rem;
    align-items: center;
}
nav ul li a::before {
    transition: all 0.8s cubic-bezier(0.7, -0.5, 0.2, 2);
    content: '';
    width: 0.01%;
    height: 100%;
    background: #ff5964;
    position: absolute;
    z-index: -1;
}
nav ul li a:hover::before {
    background: #ff5964;
    width: 100%;
    border-radius: 1rem;
}
nav ul li a:hover {
    color: white;
    transition: color 0.2s linear 0.1s;
}



/* inicio ventana de los recepta */
#ul {
    margin-left: 25rem;
    display: flex;
    width: 960px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
 #li {
    width: 120px;
    height: 500px;
    transition: all 1s;
  }
  #img {
    height: 500px;
  }
  #ul:hover #li {
    width: 40px;
  }
  #ul #li:hover {
    width: 650px;
  }


/* categoria menu */
.drop-menu {
    position: relative;
    display: inline-block;
}

.drop-content {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    left: 100%;
    background-color: ghostwhite;
    top: 0;
    width: 30rem;
    column-count: 2;
}

.drop-menu:hover .drop-content {
    display: block;
    visibility: visible;
    opacity: 1;
}


/* info de recepta */
div.nb {
    margin-left: 21rem;
    margin-right: 2rem;
    text-align: center;
    display: block;
}
.nb h4 {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    border: dashed black;
    padding: 0.5rem;
    display: block;
    margin-top: 2rem;
    margin-left: 25rem;
    width: 20rem;

}
.nb img {
    width: 30rem;
    display: block;
    float: left;
    margin-right: 1rem;

}
.nb p {
    font-family: 'Courier New', Courier, monospace;
    height: 18rem;
}
.nb strong {
    font-size: 2rem;
}

/* ingrediente */
.wc {
    margin-top: 4rem;
    margin-left: 21rem;
    display: block;
}
.wc h3 {
    list-style-type: circle;
    color: #ff5964;
    font-size: 1.7rem;
    margin-bottom: -2rem;

}
.wc ol h5{
    color: #ff5964;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    
}
.wc ol {
    padding: 0;
    margin-left: 8rem;
    display: inline-block;
    vertical-align: top;

    

}
.wc ol li {
    list-style: none;
    padding-bottom: 2rem;
    margin-left: 1.5rem;
    list-style-type: circle;

}
.wc ol li span {
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* 文本 los pasos */
div.wk {
   margin-left: 21rem; 
   list-style: none;
}

.wk h3 {
    list-style-type: circle;
    color: #ff5964;
    font-size: 1.7rem;
}
.wk ol {
    list-style: none;
    columns: 2;
    width: 54rem;
}
.wk p {
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin: 5rem 0rem 4rem;
    font-size: 1.2rem;
}
.wk span {
    height: 2.9rem;
    width: 2.9rem;    
    display: flex;  
    border-radius: 50%;
    border: 0.14rem solid #ff5964;
}
.wk span span {
    display: block;
    color: #ff5964;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 2.93rem;;
    line-height: 3rem;
    text-align: center;
}


footer {
    float: right;
}